@model Restaurant.Models.Sale

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <ul>
                @foreach (var item in ViewBag.CategoryList)
                {
                    <li><a href="#" class="btn btn-primary" onclick="ByCategory('@item.CategoryId')">

                        @item.CategoryName</a></li>
                }
            </ul>
         
        </div>
        <div class="col-6">
            <h1>Customer Name</h1>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

        });
        function ByCategory(id) {
            alert(id);
        }
    </script>
}

